.project
.classpath
.settings
.vscode
target/
/**/target/
bin/
/**/bin/

.apt_generated
.factorypath
.springBeans
.idea
*.iws
*.iml
*.ipr

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

/**/application-local.*
/**/application-local.properties
